* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 30px;
    justify-items: stretch;
    grid-template-rows: 300px 300px;
    justify-content: center;
    align-items: baseline;
    align-content: space-evenly;
}

.item {
    background-color: lightpink;
}